.home-main{
    width: 100%;
    height: 100vh;
}
.home-container{
    width: 100%;
    height: 100%;
    // background-color: rgb(35, 33, 33);
    color: white;
    pointer-events: none;
    position: absolute;
    z-index:3;
}

.home-image{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
    pointer-events: none;

    img{
        height: 100vh;
        padding-left: 300px;
        opacity: 0.9;
    }
}

.home-fluid{
    position: absolute;
}

.home-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 40%;

    &-title{
        font-size: 128px;
        font-weight: 900;
    }
    &-sub{
        font-size: 64px;
        text-align: right;
        font-weight: 700;
    }
}

.home-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: -400px;
    margin-left: 150px;
    margin-right: 150px;
    
}

.social-groups{
    width: auto;
    display: flex;
    flex-direction: row;
    gap:30px;
    pointer-events: all;

    &-item{
        font-size: 20px;
        border: 2px solid white;
        border-radius: 10px;
        padding:20px;
        pointer-events: all;
        
    }

    &-item:hover{
        pointer-events: all;
        cursor: pointer;
       border: 2px solid lightblue;
    }
}

.home-description{
    width: 400px;
    text-align: left;
    font-weight: 500;
}


