@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');

.home-main {
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.home-container {
    position: relative;
    width: 100%;
    height: 100%;
    // background-color: rgb(35, 33, 33);
    color: white;
    pointer-events: none;
    // position: absolute;
    background-color: transparent;
    // opacity: 80%;
    z-index: 3;
}

.home-image {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 4;
    pointer-events: none;

    img {
        height: 100vh;
        padding-left: 300px;
        opacity: 0.9;
    }
}

.home-fluid {
    position: absolute;
    z-index: 0;
}

.home-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    top: 27%;
}

.home-main-header {
    position: relative;
    width: 70%;
}

.home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 34%;
    left: 6%;
    margin-top: 8%;


    &-title {
        font-size: 128px;
        font-weight: 900;
        font-family: "Margarine", sans-serif;

    }

    &-sub {
        font-size: 64px;
        text-align: right;
        font-weight: 700;
        font-family: "Margarine", sans-serif;

    }
}

.home-images {
    position: relative;
    width: 40%;

    &-location {
        position: relative;

        .oultine-img {
            position: absolute;
            top: 10%
        }

        .full-img {
            position: absolute;
        }
    }
}

.home-bottom-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 5%;
    right: -60%;
    margin-left: 150px;
    margin-right: 150px;

}

.social-groups {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    pointer-events: all;

    &-item {
        font-size: 20px;
        border: 2px solid white;
        border-radius: 10px;
        padding: 20px;
        pointer-events: all;

    }

    &-item:hover {
        pointer-events: all;
        cursor: pointer;
        border: 2px solid lightblue;
    }
}

.home-description {
    width: 400px;
    text-align: left;
    font-weight: 500;
}


.tech-Stack {
    position: relative;
    text-align: center;
    bottom: -85%;
    font-size: 32px;
}


@media screen and (min-width:250px) {
    .home-wrapper {
        display: flex;
        flex-direction: column;

    }

    .home-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 4;
        margin-top: 150%;

        &-title {
            font-size: 20px;
            font-weight: 900;
            font-family: "Margarine", sans-serif;

            img {
                display: none;
            }
        }

        &-sub {
            font-size: 16px;
            text-align: right;
            font-weight: 700;
            font-family: "Margarine", sans-serif;

            img {
                display: none;
            }

        }
    }

    .home-images {
        position: relative;
        width: 100%;

        &-location {
            position: relative;
            top: 15%;

            .oultine-img {
                position: absolute;
                width: 100%;
                padding-right: 5%;
                padding-left: 5%;
            }

            .full-img {
                position: absolute;

                width: 100%;
                padding-right: 5%;
                padding-left: 5%;
            }
        }
    }

    .home-bottom-btn {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width:834px) {
    .home-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: relative;
        top: 27%;
    }

    .home-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 6%;
        margin-top: 39%;


        &-title {
            font-size: 50px;
            font-weight: 900;
            font-family: "Margarine", sans-serif;

        }

        &-sub {
            font-size: 30px;
            text-align: right;
            font-weight: 700;
            font-family: "Margarine", sans-serif;

        }
    }

    .home-images {
        position: relative;
        width: 40%;

        &-location {
            position: relative;
            top: 15%;

            .oultine-img {
                position: absolute;
                width: 80%;
            }

            .full-img {
                position: absolute;
                width: 80%;
            }
        }
    }

    .home-bottom-btn {
        display: flex;
        flex-direction: column;
    }

}


@media screen and (min-width: 1280px) {
    .home-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 6%;
        margin-top: 10%;


        &-title {
            font-size: 128px;
            font-weight: 900;
            font-family: "Margarine", sans-serif;

        }

        &-sub {
            font-size: 80px;
            text-align: right;
            font-weight: 700;
            font-family: "Margarine", sans-serif;

        }
    }
}