@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

.about-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: #eeeeee;
  color: black;
}

.about-container-left{
  flex: 2;
}

.about-section{
  background-color: #eeeeee;
  height: 100vh;

}

.about-title{
font-size:  5rem;
text-align: center;
color: rgb(0, 180, 216);
}

.about-container-left p{
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 2rem;
  font-size: 1.5rem;
  text-align: left;
    
}

.about-container-right{
  flex: 1;
  position: relative;
}

.about-container-right img{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  top:30px
  /* filter: brightness(0) invert(1); */
}

/* .about-tech-stack {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  width: 70%;
  
  
} */

.about-tech-stack-name h3{
  font-size:  calc(1.1rem + .6vw);
  text-align: center;
  color: #00b4d8;
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
  
}

.about-tech-stack-container {
  position: relative;
   display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  flex-direction: column;
  border: 10px solid grey;
  background-color: white;
  width: 80%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.about-tech-stack {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 900px; /* Set a maximum width based on the item size */
  gap: 40px; /* Add spacing between the items */
}

/* .about-tech-stack > * {
  flex: 1 1 1; /* Each item takes up roughly 1/3rd of the container
  box-sizing: border-box; /* Ensures padding/margins are included in the width/height
} */

.dotA{
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 150px;
    left:20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  
}

.dotB{
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 180px;
  left:20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.dotC{
  height: 25px;
  width: 25px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top:210px;
  left:20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.dotD{
  height: 25px;
  width: 25px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 240px;
  left:20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.squareEraser{
  height: 35px;
  width: 100px;
  background-color: lightgray;
  border:3px solid black;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  right:20px;
  text-align: center;
  align-items: center;
  padding-top: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);

}


.marker{
  width: 60px;
  height: 90px;
  position: absolute;
  top:240px;
 right: 15px;
 filter: opacity(0.5) drop-shadow(0 0 0 rgb(0, 180, 216));

}
.marker-two{
  width: 60px;
  height: 90px;
  position: absolute;
  background: transparent;
  top:240px;
 right: 30px;
 filter: opacity(0.5) drop-shadow(0 0 0 blue);

}
.marker-three{
  width: 60px;
  height: 90px;
  position: absolute;
  background: transparent;
  top:240px;
 right: 45px;
 filter: opacity(0.5) drop-shadow(0 0 0 blue);

}


@media (max-width:700px){
  .about-container{
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    height: auto;
  }

  .about-tech-stack {
    width: 90%;
  }

  .about-container-right img{
    width: 80%;
  }
}