body{
  background-color: #18191a;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  font-family:'Lora';
}

.home-container {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  height: 100vh;
}

.home-container-left {
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.home-subtitle{
  font-size: clamp(14px, 5vw,16px);
  opacity: 0.6;
}

.home-subheading h2{
  font-size: clamp(40px, 8vw, 80px);  
}

.home-subheading h3{
   font-size: clamp(30px, 6vw, 60px);
   opacity: 0.5;
}

.home-subcontent p{
  opacity: 0.8;
}


.home-container-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4%;
}

.home-container-right img{
  width: 100%;
}

.btn-section button{
  margin-right: 5%;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.75rem;
  padding: 0.75rem 1.75rem;
}

.btn-section button:hover{
  background-color:#212529;
}


@media (max-width: 700px){
  .home-container{
    flex-direction: column;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .home-container-left{
    margin-left: auto;
    margin-right: auto;
    padding: auto;
  }

  .home-container img{
    margin-top: 3%;
    width: 92%;
    height: 400px;
  }

  .btn-section button{
    margin-right: 2%;
  }
}