@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

/* html{
  scroll-snap-type:y mandatory;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  scroll-padding-top: 70px;


}

section {
  scroll-snap-align: start;
  transform: transition ease-in 1s;
  scroll-snap-stop: always;
}

@keyframes move {
  to {
    /* Move horizontally so that the right edge is aligned against the viewport */
    /* transform: translateX(calc(-100% + 100vw)); */
  /* }
} */


 */

/* /////////////////////////////////////////// */

body{
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
  /* background: #eeee; */
}

.app-overall{
  /* background-color: #eeee; */
}

.contact-home {
  position: relative; /* Make this container the reference point for absolute positioning */
  width: 100%;
  height: 100%; /* Adjust these values based on your layout needs */

}

.contact-form-section {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* Place this element on top of the background */
  pointer-events: none; /* Allow clicks to pass through this element */
}

.contact-form-animation-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* This will be the background element */
  width: 100%;
  height: 100%;
}

.home-cards {

  /* height: 832px; */
  width: 100%;
  /* height: 832px; */
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  margin-right: 50px;
  /* background-color: black; */
  /* color: black; */
}

.home-wrapper {
  display: inline-flex;
  padding: 50px 24px;
  flex-direction: column;
 align-items: center ;
  gap: 100px;
 
}

.card-deck-title{
  text-align: center;
  color: rgb(0, 180, 216);
  font-size: 5rem;
  text-decoration: underline;
}
.home-heading {
  width: 823px;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  text-transform: uppercase;
  text-align: left;
  /* // margin-right: 260px; */
  left: 2100px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: transform 0.2s ease;

  margin-bottom: 100px;
}


#animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
  /* pointer-events: none; Ensure canvas doesn't interfere with other elements */
}

.content {
  position: relative;
  /* z-index: 1; */
  /* Any additional styling for your content */
}

#project{
  /* background-image: url(../images/branch.webp); */
  background-size: cover; /* Ensures the background covers the entire screen */
  background-repeat: no-repeat; /* Prevents the background from repeating */
  background-position: center center; /* Centers the background image */  

}
.project-content-home{
  margin: 100px 30px 200px 30px;

}

.project-chart{
  margin: 30px 100px;
  border-bottom: 1px solid grey;
  border-top:1px solid grey;
}

