.web-container {
    display: flex;
    flex-direction: row;
    // gap: 40px;
    // background-color: #2E343F;
    // padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: auto;
    // height: 600px;
    margin-right: auto;
    margin-left: auto;

}

.web-image {
    img {
        width: 400px;
        height: 500px;
        display: flex;
        justify-content: center;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
    }
}

.web-right {
    color: white;
}


.web-tech-stack {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.web-btn {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: sp;
    justify-content: space-between;
    text-align: left;

    button {
        border: none;
        background-color: transparent;
        color: white;

    }
}