@import url('https://fonts.googleapis.com/css2?family=Margarine&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.web-container {
    display: flex;
    flex-direction: row;
    // gap: 40px;
    // background-color: #2E343F;
    // padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: auto;
    // height: 600px;
    margin-right: auto;
    margin-left: auto;
    font-family: Montserrat;


}

.web-image {
    img {
        width: 400px;
        height: 500px;
        display: flex;
        justify-content: center;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
    }
}

.web-right {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Montserrat;

}


.web-tech-stack {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.web-btn {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: sp;
    justify-content: space-between;
    text-align: left;
    font-family: Montserrat;


    button {
        border: none;
        background-color: transparent;
        color: white;
        font-family: Montserrat;


    }
}

.card-title {
    font-size: 50px;
    font-weight: 700;
    font-family: Montserrat;

}

.card-description {
    font-size: 20px;
    font-family: Montserrat;


}

.web-btn {
    font-family: Montserrat;

}

@media screen and (min-width: 250px) {

    .card-title {
        font-size: 25px;
        font-weight: 700;
    }

    .card-description {
        font-size: 20px;

    }

    .web-image {
        img {
            width: 80%;
            height: 250px;
            display: flex;
            justify-content: center;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
        }
    }
}


@media screen and (min-width: 834px) {

    .card-title {
        font-size: 25px;
        font-weight: 700;
    }

    .card-description {
        font-size: 20px;

    }

    .web-image {
        img {
            width: 80%;
            height: 400px;
            display: flex;
            justify-content: center;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
        }
    }
}

@media screen and (min-width: 1000px) {

    .card-title {
        font-size: 50px;
        font-weight: 700;
    }

    .card-description {
        font-size: 20px;

    }

    .web-image {
        img {
            width: 80%;
            height: 500px;
            display: flex;
            justify-content: center;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
        }
    }

    .web-btn {
        font-size: 18px;
    }
}