.project-container {
    background-color: #000;
    padding: 20px;
    transition: background-color 0.5s ease-in-out;

}

.project-title {
    text-align: center;
    font-size: 50px;
    color: white;
}

.project-sub-title {
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
    z-index: 3;
}

.app-project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
    gap: 10px
}

.web-project-main-container {
    width: 100%;
    height: 260vh;
    flex-direction: row;
    gap: 2vw;
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden;
}

.web-project-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;

    &:nth-of-type(1) {
        top: -12%;
    }

    // &:nth-of-type(2){
    //     top: -135%;
    // }
    // &:nth-of-type(3){
    //     top: -140%;
    // }
    // &:nth-of-type(4){
    //     top: -135%;
    // }
}

.web-project-item {
    perspective: 1000px;

    .card-inner {
        transform-style: preserve-3d;
        transition: transform 0.3s ease;
    }

    &:first-child .card-inner {
        transform: translateY(16px) rotateX(12deg);

        &:hover {
            transform: translateY(0) rotateX(0);
        }
    }

    &:last-child .card-inner {
        transform: translateY(-16px) rotateX(-12deg);

        &:hover {
            transform: translateY(0) rotateX(0);
        }
    }
}


.card-carousel-projects {
    // border: 4px solid white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &-description {
        width: 55%;
    }
}