.card-container {
    width: 400px;
    background-color: #2E343F;
}

.card-image {
    img {
        width: 400px;
        height: 250px;
    }
}

.card-bottom {
    padding: 20px;
    color: white;
}

.card-title {
    font-size: 24px;
}

.card-description {
    font-size: 16px;
}